# MIDTRANS CONFIGURATION
# Masukkan nilai di bawah ini dari dashboard Midtrans Anda (Settings -> Access Keys)
VITE_MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxxxxxxxxxxxxxx
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxxxxxxxxxx
